/* App.css */
.App {
	text-align: center;
	background: rgb(0, 0, 0);
	height: 640px;
	/* height: 100%;
	width: 100%; */
}
.geeks {
	color: green;
}


.btn-group-sm>.btn, .btn-sm {
    /* padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem; */
    width: 106px;
	margin-left: 520px;

}